<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML/CSS</title>
    <link rel="stylesheet" href="template/styles.css">
    <link rel="stylesheet" href="template/media-queries.css">
</head>

<body>
    <div id="bg">
        <div id="main">
            <header>
                <section id="header_top">900 x 30</section>
                <section id="header_center">900 x 60</section>
                <section id="header_bottom">900 x 30</section>
            </header>
            <section id="left">
                <section id="header_left">
                    <section id="news_img">News img</section>
                    <section id="news_title">News title</section>
                    <section id="author">author</section>
                    <section id="img_1">img</section>
                    <section id="img_2">img</section>
                    <section id="img_3">img</section>
                    <section id="title_1">title</section>
                    <section id="title_2">title</section>
                    <section id="title_3">title</section>
                </section>
            </section>
            <section id="right">right</section>

            <!-- arrêt du flottement -->
            <div class="clearfix"></div>
            <footer>footer</footer>
        </div>
    </div>
</body>

</html>